/* base.css */
.f-r {
  float: right;
}

.f-l {
  float: left;
}

.m-l-20 {
  margin-left: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.bold {
  font-weight: bold;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
  height: 0 ;
  visibility: hidden ;
}

.ta-c {
  text-align: center;
}
